.task {
  border: solid 2px;
  margin-bottom: 8px;
  border-radius: 3px;
  padding: 8px;
  font-size: 20px;
}

.date {
  float: right;
}

@media (max-width: 600px) {
  .task {
    font-size: 14px;
  }
}
