.todo-list ul {
  padding: 0;
  list-style: none;
  max-height: 20rem;
  overflow: auto;
}

.todo-list li:nth-child(4n + 0) {
  background-color: rgb(237, 172, 250);
}

.todo-list li:nth-child(4n + 1) {
  background-color: rgb(225, 135, 233);
}

.todo-list li:nth-child(4n + 2) {
  background-color: rgb(210, 88, 221);
}

.todo-list li:nth-child(4n + 3) {
  background-color: rgb(175, 69, 179);
}
