.todo {
  width: 60%;
  background-color: rgb(73, 52, 92);
  border-radius: 9px;
  margin: auto;
  /* margin-top: 30px; */
  padding-bottom: 1px;
}

.todo h2 {
  color: aliceblue;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 15px;
  font-size: 40px;
}

@media (max-width: 600px) {
  .todo {
    width: 100%;
    height: max-content;
    margin-top: 0;
    border-radius: 0px;
  }
  .todo h2 {
    font-size: 25px;
    margin-top: 0;
  }
}
